* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background-color: #f7b96d; }

header {
  background-color: #2CB249; }
  header .logo_header {
    height: 3rem;
    width: 3rem; }
    header .logo_header img {
      width: 100%; }

section #banner {
  padding: 0 50px;
  background-image: url(../assets/images/logo.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center; }
  section #banner::before {
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0; }
  section #banner .contenido-banner {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section #banner .contenido-banner h3 {
      font-size: 30px;
      font-weight: 400;
      padding: 10px 0px; }
      section #banner .contenido-banner h3 span {
        font-weight: 600; }
    section #banner .contenido-banner a {
      text-transform: uppercase; }

section #personal {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center; }
  section #personal div {
    padding: 30px 30px; }
    section #personal div img {
      border-radius: 100px; }
    section #personal div h4 {
      color: #4d4d4d;
      font-size: 20px;
      margin: 15px 0px; }
    section #personal div p {
      color: green;
      font-size: 18px; }
    section #personal div .boton-saber-mas {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #f59622;
      padding: 10px 30px;
      border: 2px solid gray;
      border-radius: 30px;
      margin-top: 15px;
      transition: all 0.4s; }
      section #personal div .boton-saber-mas:hover {
        background: #4f5754;
        color: white; }

section#servicios {
  padding: 0px 50px;
  background: rgba(77, 77, 92, 0.6); }
  section#servicios .contenido-servicios {
    padding: 60px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    section#servicios .contenido-servicios div {
      flex: 1;
      margin: 20px 0px;
      border-right: 2px solid rgba(255, 255, 255, 0.2); }
      section#servicios .contenido-servicios div i {
        color: #F2F2F2; }
      section#servicios .contenido-servicios div h6 {
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        margin: 10px 0px; }
      section#servicios .contenido-servicios div p {
        color: rgba(255, 255, 255, 0.55);
        font-size: 15px; }
    section#servicios .contenido-servicios div#icon-servicio {
      border: none; }
  section#servicios .boton-servicios {
    text-align: center;
    padding-bottom: 50px; }
    section#servicios .boton-servicios .boton-saber-mas {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #f59622;
      padding: 10px 30px;
      border: 2px solid gray;
      border-radius: 30px;
      margin-top: 15px;
      transition: all 0.4s; }

section#contacto {
  padding: 100px 0px;
  background-color: #84D991; }
  section#contacto h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white; }
  section#contacto form {
    max-width: 80%;
    margin: 0 auto; }
    section#contacto form .datos-form {
      display: flex;
      color: white;
      font-size: 15px; }
      section#contacto form .datos-form div {
        padding: 30px;
        flex: 1; }
    section#contacto form .mensaje {
      display: flex;
      flex-direction: column;
      padding: 10px;
      color: white; }
    section#contacto form .boton-formulario {
      display: block;
      color: white;
      text-align: center;
      transition: 0.4s; }
      section#contacto form .boton-formulario .boton-saber-mas:hover {
        background: #1d6e53; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.historia__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center; }
  .historia__sectionContainer .historia__dataContainer {
    padding: 2rem; }
    .historia__sectionContainer .historia__dataContainer h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold; }
    .historia__sectionContainer .historia__dataContainer p {
      text-align: justify; }
