* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background-color: #f7b96d; }

header {
  background-color: #2CB249; }
  header .logo_header {
    height: 3rem;
    width: 3rem; }
    header .logo_header img {
      width: 100%; }

section #banner {
  padding: 0 50px;
  background-image: url(../assets/images/logo.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center; }
  section #banner::before {
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0; }
  section #banner .contenido-banner {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section #banner .contenido-banner h3 {
      font-size: 30px;
      font-weight: 400;
      padding: 10px 0px; }
      section #banner .contenido-banner h3 span {
        font-weight: 600; }
    section #banner .contenido-banner a {
      text-transform: uppercase; }

section #personal {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center; }
  section #personal div {
    padding: 30px 30px; }
    section #personal div img {
      border-radius: 100px; }
    section #personal div h4 {
      color: #4d4d4d;
      font-size: 20px;
      margin: 15px 0px; }
    section #personal div p {
      color: green;
      font-size: 18px; }
    section #personal div .boton-saber-mas {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #f59622;
      padding: 10px 30px;
      border: 2px solid gray;
      border-radius: 30px;
      margin-top: 15px;
      transition: all 0.4s; }
      section #personal div .boton-saber-mas:hover {
        background: #4f5754;
        color: white; }

section#servicios {
  padding: 0px 50px;
  background: rgba(77, 77, 92, 0.6); }
  section#servicios .contenido-servicios {
    padding: 60px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    section#servicios .contenido-servicios div {
      flex: 1;
      margin: 20px 0px;
      border-right: 2px solid rgba(255, 255, 255, 0.2); }
      section#servicios .contenido-servicios div i {
        color: #F2F2F2; }
      section#servicios .contenido-servicios div h6 {
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        margin: 10px 0px; }
      section#servicios .contenido-servicios div p {
        color: rgba(255, 255, 255, 0.55);
        font-size: 15px; }
    section#servicios .contenido-servicios div#icon-servicio {
      border: none; }
  section#servicios .boton-servicios {
    text-align: center;
    padding-bottom: 50px; }
    section#servicios .boton-servicios .boton-saber-mas {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #f59622;
      padding: 10px 30px;
      border: 2px solid gray;
      border-radius: 30px;
      margin-top: 15px;
      transition: all 0.4s; }

section#contacto {
  padding: 100px 0px;
  background-color: #84D991; }
  section#contacto h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white; }
  section#contacto form {
    max-width: 80%;
    margin: 0 auto; }
    section#contacto form .datos-form {
      display: flex;
      color: white;
      font-size: 15px; }
      section#contacto form .datos-form div {
        padding: 30px;
        flex: 1; }
    section#contacto form .mensaje {
      display: flex;
      flex-direction: column;
      padding: 10px;
      color: white; }
    section#contacto form .boton-formulario {
      display: block;
      color: white;
      text-align: center;
      transition: 0.4s; }
      section#contacto form .boton-formulario .boton-saber-mas:hover {
        background: #1d6e53; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.historia__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center; }
  .historia__sectionContainer .historia__dataContainer {
    padding: 2rem; }
    .historia__sectionContainer .historia__dataContainer h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold; }
    .historia__sectionContainer .historia__dataContainer p {
      text-align: justify; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.mision__sectionContainer2 {
  width: 90%;
  margin: 4rem auto;
  align-items: center; }
  .mision__sectionContainer2 .mision__dataContainer2 {
    background: #78bfd3;
    margin: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    position: relative;
    border-radius: 25px; }
    .mision__sectionContainer2 .mision__dataContainer2 h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #eaeaea; }
    .mision__sectionContainer2 .mision__dataContainer2 p {
      text-align: justify; }

.mision__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto); }
  .mision__sectionContainer .mision__dataContainer {
    background: #78bfd3;
    margin: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    position: relative;
    border-radius: 15px; }
    .mision__sectionContainer .mision__dataContainer h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #eaeaea; }
    .mision__sectionContainer .mision__dataContainer p {
      text-align: justify; }

.wrapper {
  margin-bottom: 100px; }
  .wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #eaeaea; }
  .wrapper .team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap; }
    .wrapper .team .team_member {
      background: #ffc168;
      margin: 50px;
      margin-bottom: 50px;
      width: 500px;
      padding: 50px;
      position: relative;
      border-radius: 25px;
      background-color: #FDFD96;
      box-shadow: 10px 5px 5px grey; }
      .wrapper .team .team_member .team_img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff; }
        .wrapper .team .team_member .team_img img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          border-radius: 50%;
          background-size: 100% auto; }
      .wrapper .team .team_member h3 {
        margin: 50px;
        color: green;
        font-size: 26px;
        margin-top: 50px; }
      .wrapper .team .team_member .team_role {
        margin: 15px;
        margin-top: 15px;
        text-transform: uppercase;
        color: #333; }
      .wrapper .team .team_member p {
        text-align: justify; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.valores_sectionContainer {
  width: 90%;
  margin: 4rem auto; }
  .valores_sectionContainer h1 {
    text-align: center; }
  .valores_sectionContainer p {
    text-align: justify; }
  .valores_sectionContainer .valores_Container {
    display: grid;
    padding: 20px;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); }
    .valores_sectionContainer .valores_Container div, .valores_sectionContainer .valores_Container .valores_Container .valores_dataContainer {
      background-color: #f7b96d;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }
      .valores_sectionContainer .valores_Container div h1, .valores_sectionContainer .valores_Container .valores_Container .valores_dataContainer h1 {
        color: #008000;
        text-transform: uppercase; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.calendar__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto); }
  .calendar__sectionContainer .calendar__dataContainer, .calendar__sectionContainer div, .calendar__sectionContainer aside {
    padding: 20px;
    border-radius: 4px; }
    .calendar__sectionContainer .calendar__dataContainer h1, .calendar__sectionContainer div h1, .calendar__sectionContainer aside h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .calendar__sectionContainer .calendar__dataContainer .calendar, .calendar__sectionContainer div .calendar, .calendar__sectionContainer aside .calendar {
      background-color: white;
      border-radius: 30px;
      padding: 20px;
      position: relative;
      overflow: hidden; }
      .calendar__sectionContainer .calendar__dataContainer .calendar .header_calendar, .calendar__sectionContainer div .calendar .header_calendar, .calendar__sectionContainer aside .calendar .header_calendar {
        display: flex;
        align-items: center; }
        .calendar__sectionContainer .calendar__dataContainer .calendar .header_calendar h1, .calendar__sectionContainer div .calendar .header_calendar h1, .calendar__sectionContainer aside .calendar .header_calendar h1 {
          font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
          justify-content: center;
          margin-bottom: 2em;
          color: #008000;
          min-height: 10vh;
          text-align: center; }
      .calendar__sectionContainer .calendar__dataContainer .calendar ul .weekdays, .calendar__sectionContainer div .calendar ul .weekdays, .calendar__sectionContainer aside .calendar ul .weekdays {
        margin-bottom: 1em; }
        .calendar__sectionContainer .calendar__dataContainer .calendar ul .weekdays li, .calendar__sectionContainer div .calendar ul .weekdays li, .calendar__sectionContainer aside .calendar ul .weekdays li {
          height: 4vw;
          color: #2CB249; }
          .calendar__sectionContainer .calendar__dataContainer .calendar ul .weekdays li abbr[title], .calendar__sectionContainer div .calendar ul .weekdays li abbr[title], .calendar__sectionContainer aside .calendar ul .weekdays li abbr[title] {
            border: none;
            font-weight: 800;
            text-decoration: none; }
      .calendar__sectionContainer .calendar__dataContainer .calendar ol.day-grid li, .calendar__sectionContainer div .calendar ol.day-grid li, .calendar__sectionContainer aside .calendar ol.day-grid li {
        background-color: #eaeaea;
        border: 1px solid #eaeaea;
        height: 12vw;
        max-height: 125px; }
        .calendar__sectionContainer .calendar__dataContainer .calendar ol.day-grid li img, .calendar__sectionContainer div .calendar ol.day-grid li img, .calendar__sectionContainer aside .calendar ol.day-grid li img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  .calendar__sectionContainer aside {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: repeat(4, 1fr); }
    .calendar__sectionContainer aside div {
      background-color: #eaeaea;
      padding: 20px;
      border-radius: 10px; }
      .calendar__sectionContainer aside div h1, .calendar__sectionContainer aside div h2 {
        padding: 5px;
        text-align: center;
        color: #2CB249; }
      .calendar__sectionContainer aside div p {
        padding: 20px;
        text-align: justify; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }
  #galeria .col-lg-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    #galeria .col-lg-4 img:hover {
      border: 5px solid #f7b96d; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

#blog .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }
  #blog .col-lg-4 .card {
    transition: all 0.2s ease;
    cursor: pointer; }
    #blog .col-lg-4 .card img {
      height: 280px; }
    #blog .col-lg-4 .card h2 {
      font-size: medium; }
    #blog .col-lg-4 .card h3 {
      font-size: small;
      color: #222; }
    #blog .col-lg-4 .card p {
      text-align: justify; }
    #blog .col-lg-4 .card:hover {
      box-shadow: 5px 6px 6px 2px #7c7b7a;
      transform: scale(1.1); }
