* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth; }

header {
  background-color: #2CB249; }

.logo_header {
  height: 3rem;
  width: 3rem; }
  .logo_header img {
    width: 100%; }

/*banner*/
#banner {
  padding: 0 50px;
  background-image: url(../assets/images/logo.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center; }
  #banner::before {
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0; }

.contenido-banner {
  position: relative;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contenido-banner h1 {
    text-align: left;
    color: #F2F2F2;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px; }
    .contenido-banner h1 span {
      font-weight: 600; }
  .contenido-banner a {
    text-transform: uppercase; }

.boton-empezar {
  text-decoration: none;
  color: #F2F2F2;
  background-color: #f59622;
  border: 2px solid #d67a0a;
  padding: 20px 40px;
  align-self: baseline;
  transition: all 0.4s; }
  .boton-empezar:hover {
    background: #1d6e53;
    color: #F2F2F2; }

/*PERSONAL*/
.container h2 {
  padding: 0px 50px;
  margin: 20px; }

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .card.user-card {
    border-top: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    background-color: #CEF2D3; }

.user-card .card-block {
  text-align: center; }

.card .card-block {
  padding: 25px; }

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px; }
  .user-card .card-block .user-image img {
    z-index: 20;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px; }

.img-radius {
  border-radius: 50%; }

.f-w-600 {
  font-weight: 600; }

.m-b-10 {
  margin-bottom: 10px; }

.m-t-25 {
  margin-top: 25px; }

.m-t-15 {
  margin-top: 15px; }

.card .card-block p {
  line-height: 1.4; }

.m-t-10 {
  margin-top: 10px; }

.p-20 {
  padding: 20px; }

.user-card .card-block .user-social-link i {
  font-size: 30px; }

.text-facebook {
  color: #3B5997; }

.text-twitter {
  color: #42C0FB; }

.text-dribbble {
  color: #EC4A89; }

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #2DA63F;
  position: absolute;
  left: 0;
  z-index: 10; }

.user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #2DA63F;
  position: absolute;
  left: 0;
  z-index: 10; }

.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10; }

/*SERVICIOS*/
#servicios {
  padding: 0px 50px;
  background: rgba(77, 77, 92, 0.6); }
  #servicios h3 {
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: bold; }

.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
  box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
  content: '';
  z-index: -1; }

a.card {
  text-decoration: none; }

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #36bf4a;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F2F2F2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem; }

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important; }

.ml-auto, .mx-auto {
  margin-left: auto !important; }

.mr-auto, .mx-auto {
  margin-right: auto !important; }

.rounded-circle {
  border-radius: 50% !important; }

.bg-white {
  background-color: #F2F2F2 !important; }

.ml-auto, .mx-auto {
  margin-left: auto !important; }

.mr-auto, .mx-auto {
  margin-right: auto !important; }

.d-block {
  display: block !important; }

img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.card-text {
  padding-top: 12px;
  color: #8c8c8c; }

.text-sm {
  font-size: 12px !important; }

p, .p {
  margin: 0 0 16px; }

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  color: #36bf4a; }

.pt-1, .py-1 {
  padding-top: .25rem !important; }

.head-icon {
  margin-top: 18px;
  color: #36bf4a; }

/*FORMULARIO*/
#newsletter {
  background-color: #36bf4a; }
  #newsletter form {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 40px; }
    #newsletter form h4 {
      text-align: center;
      text-transform: uppercase;
      color: #F2F2F2;
      font-weight: bold; }

#contacto {
  padding: 100px 0px;
  background-color: #36bf4a; }
  #contacto h4 {
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: bold; }
  #contacto form {
    max-width: 80%;
    margin: 0 auto; }

.bl_form {
  margin: 30px 0 0; }
  .bl_form input {
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    outline: none; }

.lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
  left: 66px !important; }

.lb_wrap .lb_label.left {
  left: 0; }

.lb_label {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #ccc; }

.no-placeholder .lb_label {
  display: none; }

.lb_label.active {
  color: #aaa; }

#Highlighted-form .form-group label {
  display: none;
  font-size: 18px; }

#Highlighted-form.no-placeholder .form-group label {
  display: block;
  line-height: 24px;
  font-weight: 100;
  text-transform: uppercase; }

#Highlighted-form .controls {
  padding: 0;
  margin-top: 40px; }

#Highlighted-form.no-placeholder .controls {
  margin-top: 0; }

#Highlighted-form .form-control {
  display: inline;
  background: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  height: 52px;
  font-size: 18px;
  line-height: 32px;
  color: #aaa;
  font-weight: 400;
  padding-left: 64px;
  vertical-align: top; }

#Highlighted-form .form-group {
  position: relative; }
  #Highlighted-form .form-group.half-width {
    width: 40%;
    float: left; }
  #Highlighted-form .form-group [class*=fa] {
    display: block;
    width: 64px;
    position: absolute;
    top: 0;
    left: 5px;
    color: #eee;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    font-weight: 300;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out; }
    #Highlighted-form .form-group [class*=fa].active {
      color: #ccc; }

#Highlighted-form.no-placeholder .form-group [class*=fa] {
  top: 30px; }

#Highlighted-form textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 14px;
  vertical-align: top;
  resize: none; }

#Highlighted-form .form-control:focus {
  outline: none;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05); }

#Highlighted-form .error-message {
  padding: 5px 0;
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ff3345;
  z-index: 10; }

#Highlighted-form.no-placeholder .error-message {
  top: 0; }

#Highlighted-form .boton-formulario {
  display: block;
  color: white;
  text-align: center;
  transition: 0.4s; }
  #Highlighted-form .boton-formulario .boton-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #f59622;
    padding: 10px 30px;
    border: 2px solid gray;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

.historia__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  background-color: #CEF2D3;
  border-radius: 5px; }
  .historia__sectionContainer .historia__dataContainer {
    padding: 2rem; }
    .historia__sectionContainer .historia__dataContainer h1, .historia__sectionContainer .historia__dataContainer h2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #36bf4a; }
    .historia__sectionContainer .historia__dataContainer p {
      text-align: justify; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("/assets/images/img1.png") center no-repeat;
  background-size: cover; }

.mision__sectionContainer2 {
  width: 90%;
  margin: 2rem auto;
  align-items: center; }
  .mision__sectionContainer2 .mision__dataContainer2 {
    margin: 10px;
    position: relative;
    border-radius: 25px; }
    .mision__sectionContainer2 .mision__dataContainer2 h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #36bf4a; }
    .mision__sectionContainer2 .mision__dataContainer2 p {
      text-align: justify; }

.mision__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto); }
  .mision__sectionContainer .mision__dataContainer {
    background: #CEF2D3;
    margin: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    position: relative;
    border-radius: 15px; }
    .mision__sectionContainer .mision__dataContainer h2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #36bf4a; }
    .mision__sectionContainer .mision__dataContainer p {
      text-align: justify; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #2CB249; }

.wrapper {
  background-color: #84D991; }
  .wrapper .team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap; }
    .wrapper .team .team_member {
      background: #CEF2D3;
      margin: 50px;
      margin-bottom: 50px;
      width: 500px;
      padding: 50px;
      position: relative;
      border-radius: 25px;
      background-color: #CEF2D3;
      box-shadow: 10px 5px 5px grey; }
      .wrapper .team .team_member .team_img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff; }
        .wrapper .team .team_member .team_img img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          border-radius: 50%;
          background-size: 100% auto; }
      .wrapper .team .team_member h4, .wrapper .team .team_member h5 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #36bf4a; }
      .wrapper .team .team_member .team_role {
        margin: 15px;
        margin-top: 15px;
        text-transform: uppercase;
        color: #f59622; }
      .wrapper .team .team_member p {
        text-align: justify; }

@media (max-width: 768px) {
  .mision__dataContainer {
    grid-column: 1/-1; } }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

.valores_sectionContainer {
  width: 90%;
  margin: 4rem auto; }
  .valores_sectionContainer h1, .valores_sectionContainer h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #36bf4a; }
  .valores_sectionContainer p {
    text-align: justify; }
  .valores_sectionContainer .valores_Container {
    display: grid;
    padding: 20px;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); }
    .valores_sectionContainer .valores_Container div, .valores_sectionContainer .valores_Container .valores_Container .valores_dataContainer {
      background-color: #CEF2D3;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }
      .valores_sectionContainer .valores_Container div h4, .valores_sectionContainer .valores_Container .valores_Container .valores_dataContainer h4 {
        color: #f59622;
        text-transform: capitalize;
        text-align: center; }
  @media (max-width: 768px) {
    .valores_sectionContainer .valores_Container .valores_dataContainer {
      grid-column: 1/-1; } }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

.calendar__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: #CEF2D3;
  border-radius: 5px; }
  .calendar__sectionContainer > div {
    padding: 20px;
    border-radius: 4px; }

aside {
  padding: 20px;
  border-radius: 4px; }

.calendar__sectionContainer .calendar__dataContainer {
  padding: 20px;
  border-radius: 4px;
  padding: 2rem; }
  .calendar__sectionContainer .calendar__dataContainer h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #36bf4a; }
  .calendar__sectionContainer .calendar__dataContainer p {
    text-align: justify; }

.calendar {
  background-color: #2DA63F;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden; }
  .calendar h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #F2F2F2; }

.header_calendar {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  color: #F2F2F2;
  min-height: 10vh;
  text-align: center; }

ul, ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0; }

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300))); }

ul.weekdays {
  margin-bottom: 1em; }
  ul.weekdays li {
    height: 4vw;
    color: #F2F2F2; }

ol.day-grid li {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  height: 12vw;
  max-height: 125px; }
  ol.day-grid li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*LA IMAGEN NO SE ME DISTORCIONA*/ }

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none; }

ol.day-grid li:nth-child(1), ol.day-grid li:nth-child(2), ol.day-grid li:nth-child(3), ol.day-grid li:nth-child(34), ol.day-grid li:nth-child(35) {
  background-color: #f59622; }

aside {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: repeat(4, 1fr); }
  aside > div {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px; }

.descripcion-evento h4, h5 {
  padding: 5px;
  text-align: center;
  color: #36bf4a;
  font-size: 1.5rem;
  font-weight: bold; }

.descripcion-evento p {
  padding: 20px;
  text-align: justify; }

@media all and (max-width: 800px) {
  ul, ol {
    grid-gap: .25em; }
  ul.weekdays li {
    font-size: 0; }
  ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center; } }

@media (max-width: 768px) {
  .calendar__sectionContainer .calendar__dataContainer, .calendar__sectionContainer .sidebar {
    grid-column: 1/-1; } }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #36bf4a; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }
  #galeria .col-lg-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    #galeria .col-lg-4 img:hover {
      border: 5px solid #f7b96d; }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

#blog .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }
  #blog .col-lg-4 .card {
    transition: all 0.2s ease;
    cursor: pointer; }
    #blog .col-lg-4 .card img {
      height: 280px; }
    #blog .col-lg-4 .card h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #36bf4a; }
    #blog .col-lg-4 .card h2, #blog .col-lg-4 .card h3 {
      text-align: center;
      font-size: medium;
      color: #36bf4a; }
    #blog .col-lg-4 .card p {
      text-align: justify; }
    #blog .col-lg-4 .card:hover {
      box-shadow: 5px 6px 6px 2px #7c7b7a;
      transform: scale(1.1); }

.logo_header {
  height: 3rem;
  width: 3rem; }

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url("../assets/images/img1.png") center no-repeat;
  background-size: cover; }

.container h1 {
  margin: 20px 0px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  color: #36bf4a; }

.product-grid4 {
  position: relative;
  font-family: Poppins,sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease 0s; }
  .product-grid4 .product-image4 {
    position: relative; }
  .product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .product-grid4 .product-image4 a {
    display: block; }
  .product-grid4 .product-image4 img {
    width: 100%;
    height: auto;
    object-fit: cover; }
  .product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s; }
  .product-grid4:hover .pic-1 {
    opacity: 0; }
  .product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s; }
  .product-grid4:hover .pic-2 {
    opacity: 1; }
  .product-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s; }
    .product-grid4 .social li {
      display: inline-block;
      opacity: 0;
      transition: all .7s; }
      .product-grid4 .social li:nth-child(1) {
        transition-delay: .15s; }
      .product-grid4 .social li:nth-child(2) {
        transition-delay: .3s; }
      .product-grid4 .social li:nth-child(3) {
        transition-delay: .45s; }
  .product-grid4:hover .social li {
    opacity: 1; }
  .product-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s; }
    .product-grid4 .social li a:hover {
      color: #fff;
      background: #16a085; }
    .product-grid4 .social li a:after, .product-grid4 .social li a:before {
      content: attr(data-tip);
      color: #fff;
      background-color: #000;
      font-size: 12px;
      line-height: 20px;
      border-radius: 3px;
      padding: 0 5px;
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: -30px; }
    .product-grid4 .social li a:after {
      content: '';
      height: 15px;
      width: 15px;
      border-radius: 0;
      transform: translateX(-50%) rotate(45deg);
      top: -22px;
      z-index: -1; }
    .product-grid4 .social li a:hover:after, .product-grid4 .social li a:hover:before {
      opacity: 1; }
  .product-grid4 .product-discount-label, .product-grid4 .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s; }
  .product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a; }
  .product-grid4:hover .product-new-label {
    opacity: 0; }
  .product-grid4 .product-content {
    padding: 25px;
    background-color: white; }
  .product-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s; }
    .product-grid4 .title a {
      color: #222;
      text-decoration: none; }
      .product-grid4 .title a:hover {
        color: #16a085; }
  .product-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block; }
    .product-grid4 .price span {
      color: #909090;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0;
      text-decoration: line-through;
      text-align: left;
      vertical-align: middle;
      display: inline-block; }
  .product-grid4 .add-to-cart {
    border: 1px solid #008000;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s;
    text-decoration: none; }
  .product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff; }
  .product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 990px) {
  .product-grid4 {
    margin-bottom: 30px; } }

/*VALORACIONES*/
.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0; }

.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
  background-color: #CEF2D3; }

.graph-star-rating-header .star-rating {
  font-size: 17px; }

.progress {
  background: #F2F2F2 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px; }

.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%; }

.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%; }

.rating-list-center {
  width: 80%; }

.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%; }

.offer-dedicated-nav .nav-link {
  border-bottom: 2px solid #fff;
  color: #000000;
  padding: 16px 0;
  font-weight: 600; }
  .offer-dedicated-nav .nav-link.active, .offer-dedicated-nav .nav-link:hover, .offer-dedicated-nav .nav-link:focus {
    border-color: #84D991;
    color: #84D991; }

.offer-dedicated-nav .nav-item {
  margin: 0 37px 0 0; }

.text-black {
  color: #36bf4a; }

.icon-overlap {
  bottom: -23px;
  font-size: 74px;
  opacity: 0.23;
  position: absolute;
  right: -32px; }

.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover; }

.rounded-pill {
  border-radius: 50rem !important; }

.total-like-user {
  border: 2px solid #fff;
  height: 34px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 34px; }

.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0; }

.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top; }

.graph-star-rating-header .star-rating {
  font-size: 17px; }

.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px; }

.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%; }

.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%; }

.rating-list-center {
  width: 80%; }

.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%; }

.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px; }

.container h1, h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #36bf4a; }

.product-grid4 {
  position: relative;
  font-family: Poppins,sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease 0s; }
  .product-grid4 .product-image4 {
    position: relative; }
  .product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .product-grid4 .product-image4 a {
    display: block; }
  .product-grid4 .product-image4 img {
    width: 100%;
    height: auto;
    object-fit: cover; }
  .product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s; }
  .product-grid4:hover .pic-1 {
    opacity: 0; }
  .product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s; }
  .product-grid4:hover .pic-2 {
    opacity: 1; }
  .product-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s; }
    .product-grid4 .social li {
      display: inline-block;
      opacity: 0;
      transition: all .7s; }
      .product-grid4 .social li:nth-child(1) {
        transition-delay: .15s; }
      .product-grid4 .social li:nth-child(2) {
        transition-delay: .3s; }
      .product-grid4 .social li:nth-child(3) {
        transition-delay: .45s; }
  .product-grid4:hover .social li {
    opacity: 1; }
  .product-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s; }
    .product-grid4 .social li a:hover {
      color: #fff;
      background: #16a085; }
    .product-grid4 .social li a:after, .product-grid4 .social li a:before {
      content: attr(data-tip);
      color: #fff;
      background-color: #000;
      font-size: 12px;
      line-height: 20px;
      border-radius: 3px;
      padding: 0 5px;
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: -30px; }
    .product-grid4 .social li a:after {
      content: '';
      height: 15px;
      width: 15px;
      border-radius: 0;
      transform: translateX(-50%) rotate(45deg);
      top: -22px;
      z-index: -1; }
    .product-grid4 .social li a:hover:after, .product-grid4 .social li a:hover:before {
      opacity: 1; }
  .product-grid4 .product-discount-label, .product-grid4 .product-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s; }
  .product-grid4 .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a; }
  .product-grid4:hover .product-new-label {
    opacity: 0; }
  .product-grid4 .product-content {
    padding: 25px;
    background-color: white; }
  .product-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s; }
    .product-grid4 .title a {
      color: #222;
      text-decoration: none; }
      .product-grid4 .title a:hover {
        color: #16a085; }
  .product-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block; }
    .product-grid4 .price span {
      color: #909090;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0;
      text-decoration: line-through;
      text-align: left;
      vertical-align: middle;
      display: inline-block; }
  .product-grid4 .add-to-cart {
    border: 1px solid #008000;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s;
    text-decoration: none; }
  .product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff; }
  .product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 990px) {
  .product-grid4 {
    margin-bottom: 30px; } }
