*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #f7b96d;
}
/***HEADER**/
header{
  height: 100px;
  background:#2CB249;
  padding: 0 50px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo {
  height: 3rem;
  width: 3rem;
}
.logo img {
  width: 100%;
}
nav{
  max-width: 900px;
  margin: auto;
  font-size: 20px;
}
.menu-horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a{
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}

.menu-horizontal > li:hover{
  background-color:#36BF4A;
}
.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0,0,0.5);
  z-index:999;
}

.menu-horizontal li ul li{
  position: relative;
}
.menu-horizontal li ul li ul{
  right: -200px;
  top: 0px;
}
.menu-horizontal li:hover .menu-vertical{
  display: block;
}
.menu-vertical li:hover{
  background-color: #8dca8d;
}
.menu-vertical li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 15px 15px 20px;
}

.mostrar-menu, 
.esconder-menu{
  display: flex;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu{
  order: 1;
}

.menu-horizontal a:hover,.mostrar-menu:hover,.esconder-menu:hover{
  background: #6cc091; 
}

#check{
  display: none;
}

/*banner*/
#banner{
  padding: 0 50px;
  background-image: url(../assets/images/logo.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
}

#banner::before{
  content: '';
  background: rgba(77,77,92, 0.6);
  position: absolute;
  width: 100%;
  height: 45vh;
  left: 0;
}
.contenido-banner{
  position: relative;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-banner h3{
  font-size:30px;
  font-weight: 400;
  padding: 10px 0px;
}

.contenido-banner h3 span {
  font-weight: 600;
}
.contenido-banner a{
  text-transform: uppercase;
}

.boton-empezar{
  text-decoration: none;
  color:#fff;
  background-color: #f59622;
  border:2px solid gray;
  padding: 20px 40px;
  align-self: baseline;
  transition: all 0.4s;
}

.boton-empezar:hover{
  background: rgb(29, 110, 83);
}

/*Media Querys*/
@media(max-width: 768px)
{
  .menu-horizontal
  {
    display: initial;
    position:inherit;
  }
  .mostrar-menu, 
  .esconder-menu
  {
    display: block;
  }
  .menu-horizontal
  {
    position: fixed;
    width:100%;
    height: 100vh;
    background-color: #008000;
    left:0;
    right:-100%;
    top:0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu-horizontal li a
  {
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 30px;
    padding: 20px;
    margin: 50px 0;
    transition: all .5s;
  }

  .menu-horizontal ul li a
  {
    font-size: 16px;
  }
  .menu-vertical
  {
    position: relative;
    width: 750px;
    background: #36BF4A;
    transition: all .9s;
  }
  .menu-vertical:hover > ul 
  {
    display: flex;
  }
  
  .esconder-menu
  {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked ~ .menu-horizontal
  {
    right: 0;
    display: none;
  } 
}


/*PERSONAL*/
#personal{
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#personal img{
  border-radius: 100px;
}
#personal div{
  padding: 30px 30px;
}

#personal div h4{
  color: #4d4d4d;
  font-size: 20px;
  margin: 15px 0px;
}

#personal div p{
  color: green;
  font-size: 18px;
}
.boton-saber-mas{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f59622;
  padding: 10px 30px;
  border: 2px solid gray;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

.boton-saber-mas:hover{
  background: rgb(29, 110, 83);
  color: white;
}

@media(max-width:768px){
  #personal{
    flex-direction: column;
  }
}


/*SERVICIOS*/
#servicios{
  padding: 0px 50px;
  background:rgba(77, 77, 92, 0.6);
}
.contenido-servicios{
  padding: 60px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contenido-servicios div{
  flex: 1;
  margin: 20px 0px;
  border-right: 2px solid rgba(255, 255,255, 0.2);
}

#icon-servicio{
  border: none;
}

.contenido-servicios div i{
  color: #F2F2F2;
}
.contenido-servicios div h6{
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0px;
}

.contenido-servicios div p{
  color: rgba(255, 255,255, 0.55);
  font-size: 15px;
}
.boton-servicios{
  text-align: center;
  padding-bottom: 50px;
}

@media(max-width:768px){
  .contenido-servicios{
    flex-direction: column;
  }

  .contenido-servicios div{
    border: none;
  }
  
}


/*FORMULARIO*/
#contacto{
  padding: 100px 0px;
  background-color: #84D991;
}

#contacto h4{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

#contacto form{
  max-width: 80%;
  margin: 0 auto;
}

.datos-form{
  display: flex;
  color: white;
  font-size: 15px;
}

.datos-form div{
  padding: 10px;
  flex: 1;
}

form label{
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

form input,
form textarea{
  background: white;
  border-radius: 10px;
  border: 2px solid #8dca8d;
  padding: 10px 5px;
  outline: 0;
  width: 100%;
  resize: none;
}

form input:focus,
form textarea:focus{
  border-color: #36BF4A;
  box-shadow: 0 0 0 1px #36BF4A;
}

form input::placeholder,
form textarea::placeholder{
  color: #fff;
}

.mensaje{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.boton-formulario{
  display: block;
  color: white;
  text-align: center;
  transition: 0.4s;
}

.boton-formulario .boton-saber-mas:hover{
  background: rgb(29, 110, 83);
}

@media(max-width:768px){
  .datos-form{
    flex-direction: column;
  }
}


/*footer*/
footer{
  background-color: #2CB249;
  color: white;
  text-align: center;
  padding: 10px 0px;
}


/*Historia**/

/* Grid styles -------------------------------------------------*/
.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url('/assets/images/img1.png') center #333 no-repeat;
  background-size: cover;
}

.historia__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center;
}
.historia__sectionContainer .historia__dataContainer{
  padding: 2rem;
}
.historia__sectionContainer .historia__dataContainer h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.historia__sectionContainer .historia__dataContainer p {
  text-align: justify;
}

.historia__dataContainer h1{
  text-align: center;
}


/*MISION Y VISION*/

.mision__sectionContainer{
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
}

.mision__sectionContainer2{
  width: 90%;
  margin: 4rem auto;
  align-items: center;
}
.mision__sectionContainer2{
  display: grid;
  grid-template-columns: auto auto auto;
}
.mision__sectionContainer .mision__dataContainer{
  padding: 2rem;
}
.mision__sectionContainer .mision__dataContainer h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.mision__sectionContainer .mision__dataContainer p {
  text-align: justify;
}

.mision__sectionContainer2 .mision__dataContainer2 h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.mision__sectionContainer2 .mision__dataContainer2 p {
  text-align: justify;
}

/*EQUIPO DE TRABAJO*/  
.wrapper h1{
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
  
.team .team_member{
  background: #ffc168;
  margin: 50px;
  margin-bottom: 50px;
  width: 500px;
  padding: 50px;  
  position: relative;
  border-radius: 25px;
  background-color: #FDFD96;
  box-shadow: 10px 5px 5px grey;
}

.team .team_member h3{
  margin: 50px;
  color: green;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p{
  text-align: justify;
}
.team_role{
  margin: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  color: #333;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.team_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team_img col-lg-4{
  margin: 0 !important;
  padding: 25px;
}

/*Valores*/
.valores_sectionContainer{
  width: 90%;
  margin: 4rem auto;
}
.valores_sectionContainer h1{
  text-align: center;
}

.valores_sectionContainer p{
  text-align: justify;
}
.valores_Container{
  display: grid;
  padding: 20px;
  grid-gap: 40px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,auto);
}

.valores_Container > div,
.valores_Container .valores_dataContainer{
  background-color: #f7b96d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.valores_Container .valores_dataContainer h1{
  color: #008000;
  text-transform: uppercase;
}

@media(max-width:768px){
  .valores_Container .valores_dataContainer{
    grid-column: 1/-1;

  }
}



/****calendario**/
.calendar__sectionContainer{
  width: 90%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
}

.calendar__sectionContainer > div ,aside,
.calendar__sectionContainer .calendar__dataContainer{
  padding: 20px;
  border-radius: 4px;
}

.calendar__sectionContainer .calendar__dataContainer{
  padding: 2rem;
}

.calendar__sectionContainer .calendar__dataContainer h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.calendar__sectionContainer .calendar__dataContainer p{
  text-align: justify;
}

.header_calendar {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  color: #008000;
  min-height: 10vh;
  text-align: center;
}

ul, ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.weekdays li {
  height: 4vw;
  color: #2CB249;
}

ol.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}
ol.day-grid li img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

ol.day-grid li:nth-child(1),
ol.day-grid li:nth-child(2),
ol.day-grid li:nth-child(3),
ol.day-grid li:nth-child(34),
ol.day-grid li:nth-child(35) {
  background-color: #fff;
}

aside{
  display: grid;
  grid-gap: 40px;
  grid-template-rows: repeat(4,1fr);
}

aside > div{
  background-color:#eaeaea;
  padding: 20px;
  border-radius: 10px;
}
.descripcion-evento h1,h2{
  padding: 5px;
  text-align: center;
  color: #2CB249;
}
.descripcion-evento p {
  padding: 20px;
  text-align: justify;
}

@media all and (max-width: 800px) {
  ul, ol {
    grid-gap: .25em;
  }
  
  ul.weekdays li {
    font-size: 0;
  }
  
  ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}

@media(max-width:768px){
  .calendar__sectionContainer .calendar__dataContainer{
    grid-column: 1/-1;

  }
  .calendar__sectionContainer .sidebar{
    grid-column: 1/-1;

  }
}

/**GALERIA CON BOOTSTRAP*/
#galeria .col-lg-4{
  margin: 0 !important;
  padding: 25px;
}
#galeria img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
}

#galeria img:hover{
  border:5px solid #f7b96d;
}


/*PRODUCTOS**/

#productos .col-lg-4{
  margin: 0 !important;
  padding: 25px;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
}
