*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #f7b96d;
}
/***HEADER**/
header{
  background-color:#2CB249;
}
.logo_header{
  height: 3rem;
  width: 3rem;
}
.logo_header img {
  width: 100%;
}

/*banner*/
#banner{
  padding: 0 50px;
  background-image: url(../assets/images/logo.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
}

#banner::before{
  content: '';
  background: rgba(77,77,92, 0.6);
  position: absolute;
  width: 100%;
  height: 45vh;
  left: 0;
}
.contenido-banner{
  position: relative;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-banner h3{
  font-size:30px;
  font-weight: 400;
  padding: 10px 0px;
}

.contenido-banner h3 span {
  font-weight: 600;
}
.contenido-banner a{
  text-transform: uppercase;
}

.boton-empezar{
  text-decoration: none;
  color:#fff;
  background-color: #f59622;
  border:2px solid gray;
  padding: 20px 40px;
  align-self: baseline;
  transition: all 0.4s;
}

.boton-empezar:hover{
  background: rgb(230, 159, 79);
}

/*PERSONAL*/
#personal{
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#personal img{
  border-radius: 100px;
}
#personal div{
  padding: 30px 30px;
}

#personal div h4{
  color: #4d4d4d;
  font-size: 20px;
  margin: 15px 0px;
}

#personal div p{
  color: green;
  font-size: 18px;
}
.boton-saber-mas{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f59622;
  padding: 10px 30px;
  border: 2px solid gray;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

.boton-saber-mas:hover{
  background: rgb(79, 87, 84);
  color: rgb(255, 255, 255);
}

@media(max-width:768px){
  #personal{
    flex-direction: column;
  }
}


/*SERVICIOS*/
#servicios{
  padding: 0px 50px;
  background:rgba(77, 77, 92, 0.6);
}
.contenido-servicios{
  padding: 60px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contenido-servicios div{
  flex: 1;
  margin: 20px 0px;
  border-right: 2px solid rgba(255, 255,255, 0.2);
}

#icon-servicio{
  border: none;
}

.contenido-servicios div i{
  color: #F2F2F2;
}
.contenido-servicios div h6{
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin: 10px 0px;
}

.contenido-servicios div p{
  color: rgba(255, 255,255, 0.55);
  font-size: 15px;
}
.boton-servicios{
  text-align: center;
  padding-bottom: 50px;
}

@media(max-width:768px){
  .contenido-servicios{
    flex-direction: column;
  }

  .contenido-servicios div{
    border: none;
  }
  
}


/*FORMULARIO*/
#newsletter{
  padding:100px 0px;
}
#newsletter h4{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}
#contacto2{
  background-color: #8dca8d;
}
#contacto2 h4{
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}
#contacto{
  padding: 100px 0px;
  background-color: #84D991;
}

#contacto h4{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

#contacto form{
  max-width: 80%;
  margin: 0 auto;
}

.datos-form{
  display: flex;
  color: white;
  font-size: 15px;
}

.datos-form div{
  padding: 30px;
  flex: 1;
}

form label{
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

form input,
form textarea{
  background: white;
  border-radius: 10px;
  border: 2px solid #8dca8d;
  padding: 10px 5px;
  outline: 0;
  width: 100%;
  resize: none;
}

form input:focus,
form textarea:focus{
  border-color: #36BF4A;
  box-shadow: 0 0 0 1px #36BF4A;
}

form input::placeholder,
form textarea::placeholder{
  color: #fff;
}

.mensaje{
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.boton-formulario{
  display: block;
  color: white;
  text-align: center;
  transition: 0.4s;
}

.boton-formulario .boton-saber-mas:hover{
  background: rgb(29, 110, 83);
}

@media(max-width:768px){
  .datos-form{
    flex-direction: column;
  }
}


/*footer*/
footer{
  background-color: #2CB249;
  color: white;
  text-align: center;
  padding: 10px 0px;
}


/*Historia**/

/* Grid styles -------------------------------------------------*/
.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url('/assets/images/img1.png') center #333 no-repeat;
  background-size: cover;
}

.historia__sectionContainer {
  width: 90%;
  margin: 4rem auto;
  align-items: center;
}
.historia__sectionContainer .historia__dataContainer{
  padding: 2rem;
}
.historia__sectionContainer .historia__dataContainer h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.historia__sectionContainer .historia__dataContainer p {
  text-align: justify;
}

.historia__dataContainer h1{
  text-align: center;
}


/*MISION Y VISION*/

.mision__sectionContainer{
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,auto);
}

.mision__sectionContainer2{
  width: 90%;
  margin: 4rem auto;
  align-items: center;
}
.mision__sectionContainer2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.mision__sectionContainer2 .mision__dataContainer2{
  grid-column-start: 1;
  grid-column-end: -1;
}
.mision__dataContainer{
  background:#78bfd3;
  margin: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  padding: 50px;  
  position: relative;
  border-radius: 15px;
}
.mision__dataContainer2{
  background:#78bfd3;
  margin: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  padding: 50px;  
  position: relative;
  border-radius: 25px;
}
.mision__sectionContainer .mision__dataContainer{
  padding: 2rem;
}
.mision__sectionContainer .mision__dataContainer h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #eaeaea;
}

.mision__sectionContainer .mision__dataContainer p {
  text-align: justify;
}

.mision__sectionContainer2 .mision__dataContainer2 h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #eaeaea;
}
.mision__sectionContainer2 .mision__dataContainer2 p {
  text-align: justify;
}
@media(max-width:768px){
  .mision__dataContainer{
    grid-column: 1/-1;

  }
}
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background-image: url(../assets/images/voluntario_back.png);
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*EQUIPO DE TRABAJO*/  
.wrapper h1{
  margin-bottom: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #eaeaea;
}
.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
  
.team .team_member{
  background: #ffc168;
  margin: 50px;
  margin-bottom: 50px;
  width: 500px;
  padding: 50px;  
  position: relative;
  border-radius: 25px;
  background-color: #FDFD96;
  box-shadow: 10px 5px 5px grey;
}

.team .team_member h3{
  margin: 50px;
  color: green;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p{
  text-align: justify;
}
.team_role{
  margin: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  color: #333;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.team_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team_img col-lg-4{
  margin: 0 !important;
  padding: 25px;
}

/*Valores*/
.valores_sectionContainer{
  width: 90%;
  margin: 4rem auto;
}
.valores_sectionContainer h1{
  text-align: center;
}

.valores_sectionContainer p{
  text-align: justify;
}
.valores_Container{
  display: grid;
  padding: 20px;
  grid-gap: 40px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,auto);
}

.valores_Container > div,
.valores_Container .valores_dataContainer{
  background-color: #f7b96d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.valores_Container .valores_dataContainer h1{
  color: #008000;
  text-transform: uppercase;
}

@media(max-width:768px){
  .valores_Container .valores_dataContainer{
    grid-column: 1/-1;

  }
}



/****calendario**/
.calendar__sectionContainer{
  width: 90%;
  margin: 4rem auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
}

.calendar__sectionContainer > div ,aside,
.calendar__sectionContainer .calendar__dataContainer{
  padding: 20px;
  border-radius: 4px;
}

.calendar__sectionContainer .calendar__dataContainer{
  padding: 2rem;
}

.calendar__sectionContainer .calendar__dataContainer h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.calendar__sectionContainer .calendar__dataContainer p{
  text-align: justify;
}

.header_calendar {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 2em;
  color: #008000;
  min-height: 10vh;
  text-align: center;
}

ul, ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
  margin-bottom: 1em;
}

ul.weekdays li {
  height: 4vw;
  color: #2CB249;
}

ol.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  height: 12vw;
  max-height: 125px;
}
ol.day-grid li img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

ol.day-grid li:nth-child(1),
ol.day-grid li:nth-child(2),
ol.day-grid li:nth-child(3),
ol.day-grid li:nth-child(34),
ol.day-grid li:nth-child(35) {
  background-color: #fff;
}

aside{
  display: grid;
  grid-gap: 40px;
  grid-template-rows: repeat(4,1fr);
}

aside > div{
  background-color:#eaeaea;
  padding: 20px;
  border-radius: 10px;
}
.descripcion-evento h1,h2{
  padding: 5px;
  text-align: center;
  color: #2CB249;
}
.descripcion-evento p {
  padding: 20px;
  text-align: justify;
}

@media all and (max-width: 800px) {
  ul, ol {
    grid-gap: .25em;
  }
  
  ul.weekdays li {
    font-size: 0;
  }
  
  ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}

@media(max-width:768px){
  .calendar__sectionContainer .calendar__dataContainer{
    grid-column: 1/-1;

  }
  .calendar__sectionContainer .sidebar{
    grid-column: 1/-1;

  }
}

/**GALERIA CON BOOTSTRAP*/
#galeria .col-lg-4{
  margin: 0 !important;
  padding: 25px;
}
#galeria img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
}

#galeria img:hover{
  border:5px solid #f7b96d;
}

/*BLOG*/

#blog .col-lg-4{
  margin: 0 !important;
  padding: 25px;
}
.card {
  height: 700px;
  transition: all 0.2s ease;
  cursor: pointer
}
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.card:hover {
  box-shadow: 5px 6px 6px 2px #7c7b7a;
  transform: scale(1.1)
}



/*PRODUCTOS*/
.product-grid4,
.product-grid4 .product-image4{
  position:relative;
}
.product-grid4{
  font-family:Poppins,sans-serif;
  text-align:center;border-radius:5px;overflow:hidden;
  z-index:1;transition:all .3s ease 0s;
}
.product-grid4:hover{
  box-shadow:0 0 10px rgba(0,0,0,.2);
}
.product-grid4 .product-image4 a{
  display:block;
}
.product-grid4 .product-image4 img{
  width:100%;
  height:auto;
  object-fit: cover;
}
.product-grid4 .pic-1{
  opacity:1;transition:all .5s ease-out 0s;
}
.product-grid4:hover .pic-1{
  opacity:0
}
.product-grid4 .pic-2{
  position:absolute;
  top:0;left:0;
  opacity:0;
  transition:all .5s ease-out 0s;
}
.product-grid4:hover .pic-2{
  opacity:1;
}
.product-grid4 .social{
  width:180px;padding:0;
  margin:0 auto;
  list-style:none;
  position:absolute;
  right:0;left:0;top:50%;
  transform:translateY(-50%);
  transition:all .3s ease 0s;
}
.product-grid4 .social li{
  display:inline-block;
  opacity:0;
  transition:all .7s;
}
.product-grid4 .social li:nth-child(1){
  transition-delay:.15s;
}
.product-grid4 .social li:nth-child(2){
  transition-delay:.3s;
}
.product-grid4 .social li:nth-child(3){
  transition-delay:.45s;
}
.product-grid4:hover .social li{
  opacity:1;
}
.product-grid4 .social li a{
  color:#222;
  background:#fff;
  font-size:17px;
  line-height:36px;
  width:40px;height:36px;
  border-radius:2px;
  margin:0 5px;
  display:block;
  transition:all .3s ease 0s;
}
.product-grid4 .social li a:hover{
  color:#fff;
  background:#16a085;
}
.product-grid4 .social li a:after,
.product-grid4 .social li a:before{
  content:attr(data-tip);
  color:#fff;
  background-color:#000;
  font-size:12px;
  line-height:20px;
  border-radius:3px;
  padding:0 5px;
  white-space:nowrap;
  opacity:0;transform:translateX(-50%);
  position:absolute;left:50%;
  top:-30px;
}
.product-grid4 .social li a:after{
  content:'';
  height:15px;
  width:15px;
  border-radius:0;
  transform:translateX(-50%) rotate(45deg);
  top:-22px;z-index:-1
}
.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before{
  opacity:1;
}
.product-grid4 .product-discount-label,
.product-grid4 .product-new-label{
  color:#fff;
  background-color:#16a085;
  font-size:10px;
  font-weight:800;
  text-transform:uppercase;
  line-height:45px;
  height:45px;
  width:45px;
  border-radius:50%;
  position:absolute;
  left:10px;
  top:15px;
  transition:all .3s;
}
.product-grid4 .product-discount-label{
  left:auto;
  right:10px;
  background-color:#d7292a;
}
.product-grid4:hover .product-new-label{
  opacity:0;
}
.product-grid4 .product-content{
  padding:25px;
  background-color:white;
}
.product-grid4 .title{
  font-size:15px;
  font-weight:400;
  text-transform:capitalize;
  margin:0 0 7px;
  transition:all .3s ease 0s;
}
.product-grid4 .title a{
  color:#222;
  text-decoration: none;
}
.product-grid4 .title a:hover{
  color:#16a085;
}
.product-grid4 .price{
  color:#16a085;
  font-size:17px;
  font-weight:700;
  margin:0 2px 15px 0;
  display:block;
}
.product-grid4 .price span{
  color:#909090;
  font-size:13px;
  font-weight:400;
  letter-spacing:0;
  text-decoration:line-through;
  text-align:left;
  vertical-align:middle;
  display:inline-block;
}
.product-grid4 .add-to-cart{
  border:1px solid #008000;
  display:inline-block;
  padding:10px 20px;
  color:#888;
  font-weight:600;
  font-size:14px;
  border-radius:4px;
  transition:all .3s;
  text-decoration: none;
}
.product-grid4:hover .add-to-cart{
  border:1px solid transparent;
  background:#16a085;
  color:#fff;
}
.product-grid4 .add-to-cart:hover{
  background-color:#505050;
  box-shadow:0 0 10px rgba(0,0,0,.5);
}

@media only screen and (max-width:990px){
  .product-grid4{margin-bottom:30px;
  }
}
/*VALORACIONES*/
.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0;
}
.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}
.graph-star-rating-header .star-rating {
  font-size: 17px;
}
.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}
.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%;
}
.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%;
}
.rating-list-center {
  width: 80%;
}
.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%;
}

.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
  border-color: #3868fb;
  color: #3868fb;
}
.offer-dedicated-nav .nav-link {
  border-bottom: 2px solid #fff;
  color: #000000;
  padding: 16px 0;
  font-weight: 600;
}
.offer-dedicated-nav .nav-item {
  margin: 0 37px 0 0;
}
.text-black {
  color: #000000;
}
.icon-overlap {
  bottom: -23px;
  font-size: 74px;
  opacity: 0.23;
  position: absolute;
  right: -32px;
}

.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.rounded-pill {
  border-radius: 50rem!important;
}
.total-like-user {
  border: 2px solid #fff;
  height: 34px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
  width: 34px;
}
.total-like-user-main a {
  display: inline-block;
  margin: 0 -17px 0 0;
}
.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}

.graph-star-rating-header .star-rating {
  font-size: 17px;
}
.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}
.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%;
}
.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%;
}
.rating-list-center {
  width: 80%;
}
.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%;
}

.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 0;
  height: 30px;
}



