.container{
    h2{
        text-align: center;
        text-transform: uppercase;
        color: $verde_2;
        font-weight: bold; 
    }
    p{
        text-align: justify;
    }
}
#contacto {
    padding: 100px 0px;
    background-color: $verde_2;
  
    h4 {
      text-align: center;
      text-transform: uppercase;
      color: $gris_claro;
      font-weight: bold;
    }
  
    form {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  
  .bl_form {
    margin: 30px 0 0;
  
    input {
      padding-top: 15px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
      border: none;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
    }
  }
  
  .lb_wrap .lb_label {
    &.top, &.bottom {
      left: 66px !important;
    }
  
    &.left {
      left: 0;
    }
  }
  
  .lb_label {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #ccc;
  }
  
  .no-placeholder .lb_label {
    display: none;
  }
  
  .lb_label.active {
    color: #aaa;
  }
  
  #Highlighted-form {
    .form-group label {
      display: none;
      font-size: 18px;
    }
  
    &.no-placeholder .form-group label {
      display: block;
      line-height: 24px;
      font-weight: 100;
      text-transform: uppercase;
    }
  
    .controls {
      padding: 0;
      margin-top: 40px;
    }
  
    &.no-placeholder .controls {
      margin-top: 0;
    }
  
    .form-control {
      display: inline;
      background: #fff;
      border: none;
      border-radius: 5px;
      outline: none;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
      height: 52px;
      font-size: 18px;
      line-height: 32px;
      color: #aaa;
      font-weight: 400;
      padding-left: 64px;
      vertical-align: top;
    }
  
    .form-group {
      &.half-width {
        width: 40%;
        float: left;
      }
  
      position: relative;
  
      [class*=fa] {
        display: block;
        width: 64px;
        position: absolute;
        top: 0;
        left: 5px;
        color: #eee;
        font-size: 24px;
        line-height: 52px;
        text-align: center;
        font-weight: 300;
        -webkit-transition: color .3s ease-out;
        transition: color .3s ease-out;
  
        &.active {
          color: #ccc;
        }
      }
    }
  
    &.no-placeholder .form-group [class*=fa] {
      top: 30px;
    }
  
    textarea.form-control {
      height: auto;
      max-width: 100%;
      min-width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      padding-top: 14px;
      vertical-align: top;
      resize: none;
    }
  
    .form-control:focus {
      outline: none;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
    }
  
    .error-message {
      padding: 5px 0;
      position: absolute;
      top: -35px;
      right: 0;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #ff3345;
      z-index: 10;
    }
  
    &.no-placeholder .error-message {
      top: 0;
    }
    .boton-formulario{
      display: block;
      color: white;
      text-align: center;
      transition: 0.4s;
      .boton-saber-mas{
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color: #f59622;
        padding: 10px 30px;
        border: 2px solid gray;
        border-radius: 30px;
        margin-top: 15px;
        transition: all 0.4s;
      }
    }
    
  }