header {
    background-color: $verde_header;
  }
  
  .logo_header {
    height: 3rem;
    width: 3rem;
  
    img {
      width: 100%;
    }
  }
  
  /*banner*/
  
  #banner {
    padding: 0 50px;
    background-image: url(../assets/images/logo.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
  
    &::before {
      content: '';
      background: rgba(77, 77, 92, 0.6);
      position: absolute;
      width: 100%;
      height: 45vh;
      left: 0;
    }
  }
  
  
  .contenido-banner {
    position: relative;
    color: $gris_claro;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    h1 {
      font-size: 30px;
      font-weight: 400;
      padding: 10px 0px;
  
      span {
        font-weight: 600;
      }
    }
  
    a {
      text-transform: uppercase;
    }
  }
  
  .boton-empezar {
    text-decoration: none;
    color: $gris_claro;
    background-color:$llama;
    border: 2px solid $borde;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
  
    &:hover {
      background: rgb(29, 110, 83);
      color: $gris_claro;
    }
  }
  
  /*PERSONAL*/
  .container-banner{
    h2{
      margin: 20px 0px;
      text-transform: uppercase;
      font-weight: bold;
      align-items: center;
    }
    #personal {
      padding: 0px 50px;
      display: flex;
      justify-content:space-evenly;
      text-align: center;
      div {
        padding: 30px 30px;
        img {
          border-radius: 100px;
          width: 50%;
          height: 50%;
          object-fit: cover;
        }
        h3{
          color: $verde_2;
          font-size: x-large;
          text-transform: capitalize;
        }
  
        p {
          color: $negro;
          font-size: 18px;
        }
      }
    }
  }
  
  
  .boton-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: $gris_claro;
    background-color: #f59622;
    padding: 10px 30px;
    border: 2px solid gray;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
  
    &:hover {
      background: rgb(79, 87, 84);
      color: rgb(255, 255, 255);
    }
  }
  
  @media (max-width: 768px) {
    #personal {
      flex-direction: column;
    }
  }
  
  /*SERVICIOS*/
  #servicios {
    padding: 0px 50px;
    background: rgba(77, 77, 92, 0.6);
    h3{
      text-align: center;
      text-transform: uppercase;
      color: $gris_claro;
      font-weight: bold;
    }
  }
  

  .card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: $gris_claro;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
    box-shadow: 0 19px 28px 5px rgba(64, 64, 64, 0.09);
    content: '';
    z-index: -1;
  }
  
  a.card {
    text-decoration: none;
  }
  
  .card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: $verde_2;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:$gris_claro;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, 0.09) !important;
  }
  
  .ml-auto, .mx-auto {
    margin-left: auto !important;
  }
  
  .mr-auto, .mx-auto {
    margin-right: auto !important;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .bg-white {
    background-color: $gris_claro !important;
  }
  
  .ml-auto, .mx-auto {
    margin-left: auto !important;
  }
  
  .mr-auto, .mx-auto {
    margin-right: auto !important;
  }
  
  .d-block {
    display: block !important;
  }
  
  img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .card-text {
    padding-top: 12px;
    color: #8c8c8c;
  }
  
  .text-sm {
    font-size: 12px !important;
  }
  
  p, .p {
    margin: 0 0 16px;
  }
  
  .card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: $verde_2;
  }
  
  .pt-1, .py-1 {
    padding-top: .25rem !important;
  }
  
  .head-icon {
    margin-top: 18px;
    color:$verde_2;
  }
  
  
  

  /*FORMULARIO*/

#newsletter {
    padding: 100px 0px;
    background-color: $ligero;
    h4 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: $gris_claro;
    }
  }
  
  #contacto2 {
    background-color: $verde_2;
  
    h4 {
      font-size: 25px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: $gris_claro;
    }
  }
  
  #contacto {
    padding: 100px 0px;
    background-color: $verde_2;
  
    h4 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: $gris_claro;
    }
  
    form {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  
  .datos-form {
    display: flex;
    color: $gris_claro;
    font-size: 15px;
  
    div {
      padding: 30px;
      flex: 1;
    }
  }
  
  form {
    label {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  
    input, textarea {
      background: $gris_claro;
      border-radius: 10px;
      border: 2px solid #8dca8d;
      padding: 10px 5px;
      outline: 0;
      width: 100%;
      resize: none;
    }
  
    input:focus, textarea:focus {
      border-color: #36BF4A;
      box-shadow: 0 0 0 1px #36BF4A;
    }
  
    input::placeholder, textarea::placeholder {
      color: $gris_claro;
    }
  }
  
  .mensaje {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: $gris_claro;
  }
  
  .boton-formulario {
    display: block;
    color: $gris_claro;
    text-align: center;
    transition: 0.4s;
  
    .boton-saber-mas:hover {
      background: rgb(29, 110, 83);
    }
  }
  
  @media (max-width: 768px) {
    .datos-form {
      flex-direction: column;
    }
  }