// LINEA 323
.logo_header{
  height: 3rem;
  width: 3rem;
}

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  background: url('/assets/images/img1.png') center no-repeat;
  background-size: cover;
}

.mision__sectionContainer2{
  width: 90%;
  margin: 2rem auto;
  align-items: center;
  .mision__dataContainer2{
      margin: 10px; 
      position: relative;
      border-radius: 25px;
      grid-column-start: 1;
      grid-column-end: -1;
      h1 {
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          text-transform: uppercase;
          font-weight: bold;
          color: $verde_2;
        }
        p {
          text-align: justify;
        }
    }
}

.mision__sectionContainer{
  width: 90%;
  margin: 4rem auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,auto);
.mision__dataContainer{
  background:$azul_romance;
  margin: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  padding: 20px;  
  position: relative;
  border-radius: 15px;
  h2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $verde_2;
    }
    p {
      text-align: justify;
    }
  }
  .container{
    grid-column-start: 1;
    grid-column-end: -1;
    h3{
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $verde_2;
    }
    h4{
      text-align: center;
      font-size: 1.5rem;  
      text-transform: uppercase;
      color: $llama;
    }
    h5{
      text-align: center;
      text-transform: uppercase;
      color: $verde_3;
      font-size: smaller;
    }
    img{
      width: 200px;
      height: 200px;
      object-fit: cover; /*LA IMAGEN NO SE ME DISTORCIONA*/
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .col-md-6{
      p{
        text-align: justify;
      }
    }
  }
}

@media(max-width:768px){
  .mision__dataContainer{
    grid-column: 1/-1;
  }
}
