//VARIABLES PALETA DE COLORES
$gris_claro:#F2F2F2;
$azul_romance:#CEF2D3;
$verde_1:#84D991;
$verde_2:#36bf4a;
$verde_3:#2DA63F;
$verde_header:#2CB249;
$negro:	#000000;

//VARIABLE BOTON-EMPEZAR
$llama:#f59622;
$borde:#d67a0a;
//degradado
$ligero:#ff9908;
$original:#ff9908;
$oscuro:#ff8c00;

// Breakpoints

//************************************************
// telefono (ancho)
//************************************************
$telefono-min-width: 320px !default;
$telefono-max-width: 504px !default;
//************************************************
// telefono(altura)
//************************************************
$telefono-min-height: 346px !default;
$telefono-max-height: 695px !default;

//************************************************
//tablet (ancho)
//************************************************
$tablet-min-width: 480px !default;
$tablet-max-width: 1024px !default;
//************************************************
//tablet (altura)
//************************************************
$tablet-min-height: 800px !default;
$tablet-max-height: 1440px !default;

//************************************************
//desktop
//************************************************
$desktop-min-height: 768px !default;
$desktop-max-height: 1280px !default;

//***********************************************
// Mixins
//***********************************************
//Orientacion vertical y horizontal para telefono
@mixin telefono(){
  @media screen and (min-width: $telefono-min-width) and (max-height: $telefono-max-height){
    @content;
  }
}

// para el teléfono en orientacion vertical
@mixin portrait-telefono() {
  @media screen and (min-width: $telefono-min-width) and (max-width: $telefono-max-width) and (orientation: portrait) {
    @content;
  }
}

// para el teléfono en orientacion vertical
@mixin landscape-telefono(){
  @media screen and (min-height: $telefono-min-height) and (max-height: $telefono-max-height) and (orientation: landscape){
    @content;
  }
}

// Para la tablet en orientacion vertical y horizontal
@mixin tablet(){
  @media screen and (min-width: $tablet-min-width) and (max-height: $tablet-max-height){
    @content;
  }
}

// Para orientacion vertical en la tablet
@mixin portrait-tablet() {
  @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) and (orientation: portrait) {
    @content;
  }
}

// Para la posicion horizontal en la tablet
@mixin landscape-tablet(){
  @media screen and (min-height: $tablet-min-height) and (max-height: $tablet-max-height) and (orientation: landscape){
    @content;
  }
}

// Para desktop
@mixin desktop(){
  @media screen and (min-height: $desktop-min-height) and (max-height: $desktop-max-height){
    @content;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
  
@import "index.scss";
@import "historia.scss";
@import "mision.scss";
@import "valores.scss";
@import "calendario.scss";
@import "galeria.scss";
@import "blog.scss";
@import "productos-camas.scss";
@import "productos-comida.scss";



