//VARIABLES PALETA DE COLORES
$gris_claro:#F2F2F2;
$azul_romance:#CEF2D3;
$verde_1:#84D991;
$verde_2:#36bf4a;
$verde_3:#2DA63F;
$verde_header:#2CB249;

//VARIABLE BOTON-EMPEZAR
$llama:#f59622;
$borde:#d67a0a;
//degradado
$ligero:#ff9908;
$original:#ff9908;
$oscuro:#ff8c00;

$breakpoints: (
  sm:540px,
  md:768px,
  lg:1024px
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
  
@import "index.scss";
@import "historia.scss";
@import "mision.scss";
@import "valores.scss";
@import "calendario.scss";
@import "galeria.scss";
@import "blog.scss";
@import "productos-camas.scss";
@import "productos-comida.scss";



@mixin media-up($breakpoint){
  @media screen and (min-width:map-get($breakpoints,$breakpoint)){
    @content;
  }
}