*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: #f7b96d
}

// COMENTARIO SASS -falta personalizar footer
@import "index.scss";
@import "historia.scss";
@import "mision.scss";
@import "valores.scss";
@import "calendario.scss";
@import "galeria.scss";
@import "blog.scss";
@import "productos-camas.scss"


